.footer {
    background-color: #000;
    min-height: 200px;
}

.footer__block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
}

.footer__author {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.footer__contact a img {
    vertical-align: middle;
}

.footer__contact a {
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 2px;
}